/* Single Block Front-end CSS */

.jsx-example-image {
    height: 100px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

/***** CHAPTER DIVIDER *****/


@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes fadeInUp {
    from {
		opacity: 0;
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

/***** CHAPTER DIVIDER ******/
.chapter-divider {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.chapter-divider h2 {
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 100%;
	display: flex;
	align-items: flex-end;
	letter-spacing: -4px;
	color: #FFFFFF;
}

.chapter-divider .container {
	width: 100%;
	max-width: 1440px;
}

.chapter-divider-content {
    max-width: 540px;
    margin-right: auto;
    margin-left: 0;
}

.chapter-divider .scroll-icon {
	min-width: 30px;
	width: 30px;
	height: 30px;
	position: relative;
}

.chapter-divider .scroll-icon svg {
	width: 100%;
	height: auto;
}

.scroll-icon-pulse {
	position: absolute;
	border: 1px dashed #FF5C52;
    border-radius: 50%;
	width: 160%;
	height: 160%;
	left: -30%;
	top: -30%;
	transform: scale(1);
	animation: pulse 2s infinite;
}

.animation-fadeinup {
	opacity: 1;
	animation-fill-mode: forwards;
	animation-delay: 200ms;
	animation: fadeInUp 2s ease;
}

@media screen and (max-width: 800px){
	.chapter-divider h1 {
		font-size: 48px;
	}
}
.components-select-control{
    width: 100%!important;
}
.components-base-control {
    width: 100%;
}

.block-editor-rich-text__editable section.article-hero.parallax-container {
    background-size: cover;
}

.block-editor-block-preview__content section.article-hero .block-editor-rich-text__editable.rich-text {
    font-size: 26px;
}
.block-editor-block-preview__content section.article-hero .overlay-skrim {
    padding: 30px;
}
.block-editor-block-preview__content section.article-hero {
    min-height: 350px!important;
    height: 350px!important;
}