/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-pharmacy-lookup-block-intro {
	background-color: #1d8c2a;
	color: #fff;
	padding: .3rem 1rem;
}
